.cssHeader {
  display: grid;
  grid-template-areas: 'search mode';
  grid-template-columns: auto 25%;
  grid-column-gap: 0px;
}
.cssSearch {
  background-color: white;
  color: white;
  width: 100%;
  padding: 2px;
}
.cssMode {
  padding: 10px;
  width: 100%;
  background-color: white;
  color: white;
  padding: 2px;
}

.grid-container2 {
  display: grid;
  grid-gap: 0px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  text-align: center;
  width: calc(20% - 30px);
}
